.speech{
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: black;
}
.stage-direction{
    font-family: cursive;
    font-size: 18px;
    color: black;
    background-color: lightblue;
}
.stage-direction:hover{
    color: white;
    background-color: red;   
}
.name{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
}

.name:hover{
    text-shadow: 2px 2px 5px lightsalmon;
    border: darkviolet;
    border-style: ridge;
}
.second-lord{
    color: indigo;
}
.first-lord{
    color: indianred;
}
.BERTRAM{
    color:yellowgreen;
}
.PAROLLES{
    color: darkorchid;
}

table , th, td {
    color:maroon;
    text-align: center;
    border: 2px solid black;
    border-collapse: collapse;
    padding: 20px 10px 20px 10px;
    margin: 10px 20px 20px 10px;
}

th{
    background-color: lightcyan;
}

tr:nth-child(even){
    background-color: lightpink;
}

.navbar-horizontal{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.navbar-horizontal li{
    float: left;
    color: brown;
    background-color: lightskyblue;
}
.navbar-horizontal a{
    display: block;
    padding: 10px;
}
.navbar-horizontal a:hover{
    background-color: cadetblue;
    color: white;
}